body{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: teal;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}



.calculator{
    
    width: 400px;
    background-color: brown;
    border: 1px solid yellow;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgb(100,191, 91);
    padding: 20px;
}

.result{
    width: 100%;
    height: auto;
    border: 1px solid black;
    padding: 5px ;
    text-align: right;
}
.btn{
    display: grid;
    grid-template-columns: repeat(auto-fit,min(90px));
    margin-top: 10px;
    gap: 10px;
    

}

button{
    border: none;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(100,191, 91);
    transition: 0.3s;
}

button:hover{
    background: brown;
}

